<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
       <th:block th:replace="partials/master :: nav"></th:block>

<h1 class="center">Student Portal</h1>
       <h3 class="center">Welcome <span th:text="${user.first_name}"></span>
           <span th:text="${user.last_name}"></span></h3>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#Profile">Profile</a></li>
            <li class="tab col s3"><a href="#Classes">Classes</a></li>
            <li class="tab col s3"><a href="#Certs">Certs</a></li>
        </ul>
    </div>
    <div id="Profile" class="col s12">
        <h5>Name: <span th:text="${user.first_name}"></span> <span th:text="${user.last_name}"></span></h5>
        <p>Bio: <span th:text="${user.bio}"></span></p>
        <p>Username: <span th:text="${user.username}"></span></p>
        <h5>Contact Info</h5>
        <p>Email: <span th:text="${user.email}"></span></p>
        <p>Phone: <span th:text="${user.phone}"></span></p>
        <p>Organization <span th:text="${provider.name}"></span></p>
    </div>
    <div id="Classes" class="col s12">
        <div th:each="student : ${students}">
            <h3 th:text="${student.course.curriculum.name}"></h3>
            <p th:text="${student.status.name}"></p>
        </div>
    </div>
    <div id="Certs" class="col s12">
         This tab will contain a table with a list of the courses the student has credit for
    </div>
</div>

<th:block th:replace="partials/master :: materializejs"></th:block>

<th:block th:replace="partials/master :: jquery"></th:block>
<script src="/js/student-profile.js"></script>


</body>
</html>




