<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize">

    </th:block>
</head>
<body>
<th:block th:replace="partials/master :: nav">

</th:block>

<h1 class="center">Student Portal</h1>
<h3 class="center">Welcome <span th:text="${user.first_name}"></span>
    <span th:text="${user.last_name}"></span></h3>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#status">Status</a></li>
            <li class="tab col s3"><a href="#standing">Standing</a></li>
            <li class="tab col s3"><a href="#certs">Certs</a></li>
        </ul>
    </div>
    <div id="status" class="col s12">
        <div class="row pt-2">
            <div class="container">
                <div class="card blue-grey darken-1 col s12 m12 l6">
                    <div class="card-content white-text">
                        <span class="card-title">Pending Approval</span>
                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Instructor</th>
                                <th>Location</th>
                                <th>Training Provider</th>
                            </tr>
                            </thead>

                            <tbody th:each="student : ${students}">
                            <th:block th:if="${student.status.name == 'pending'}">
                                <tr>
                                    <td th:text="${student.course.curriculum.name}"></td>
                                    <td th:each="instructor : ${student.course.instructors}">
                                        <span th:text="${instructor.last_name} + ' ' + ${instructor.first_name}"></span>
                                    </td>
                                    <td th:text="${student.course.location}"></td>
                                    <td th:text="${student.course.curriculum.provider.name}"></td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card white darken-1 col s12 m12 l6">
                    <div class="card-content">
                        <span class="card-title">Enrolled</span>
                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Instructor</th>
                                <th>Location</th>
                                <th>Training Provider</th>

                            </tr>
                            </thead>

                            <tbody th:each="student : ${students}">
                            <th:block th:if="${student.status.name == 'enrolled'}">
                                <tr>
                                    <td th:text="${student.course.curriculum.name}"></td>
                                    <td th:each="instructor : ${student.course.instructors}">
                                        <span th:text="${instructor.last_name} + ' ' + ${instructor.first_name}"></span>
                                    </td>
                                    <td th:text="${student.course.location}"></td>
                                    <td th:text="${student.course.curriculum.provider.name}"></td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="standing">
        <div class="card white darken-1 col s12">
            <div class="card-content">
                <span class="card-title">Credits</span>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>

                        <th>Attendance</th>
                    </tr>
                    </thead>
                    <tbody th:each="student : ${students}">
                    <th:block th:if="${student.status.name == 'credited'}">
                        <tr>
                            <td th:text="${student.course.curriculum.name}"></td>
                            <td th:text="${student.course.start_date}"></td>
                            <td th:text="${student.course.end_date}"></td>
                            <td th:each="attendance : ${student.course.attendances}">
                            <span th:text="${attendance}"></span>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
        </div>
</div>
<div id="certs" class="col s12">
    <div id="classes" class="col s12">
        <div class="card white darken-1 col s12">
            <div class="card-content">
                <span class="card-title">Credits</span>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Provider</th>
                        <th>Date</th>

                    </tr>
                    </thead>

                    <tbody th:each="student : ${students}">
                    <th:block th:if="${student.status.name == 'credited'}">
                        <tr>
                            <td th:text="${student.course.curriculum.name}"></td>
                            <td th:text="${student.course.curriculum.provider.name}"></td>
                            <td th:text="${student.course.end_date}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="partials/master :: materializejs">

</th:block>

<th:block th:replace="partials/master :: jquery">

</th:block>
<script src="/js/student-profile.js"></script>


</body>
</html>




