<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize">

    </th:block>
    <style>
        #name {
            z-index: 99;
        }
    </style>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<th:block th:replace="partials/master :: nav">

</th:block>


<h1>Here's a page</h1>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#provider">Provider</a></li>
            <li class="tab col s3"><a href="#test2">Courses</a></li>
            <li class="tab col s3"><a href="#test3">Classes</a></li>
        </ul>
    </div>
    <div id="provider" class="col s12">Test 1</div>
    <div id="test2" class="col s12">
        <div id="courselist"></div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Create A Course</div>
                <div class="collapsible-body">
                    <div class="row">
                        <form class="col s12" method="post" th:action="@{/newCourse}" th:object="${curriculum}">
                            <div class="input-field col">
                                <input placeholder="Course Name" id="name" type="text" th:field="*{name}"
                                       class="validate"/>
                                <label th:for="*{name}">Course Name</label>
                            </div>

                            <div class="col s12 input-field input-field">
                                <select multiple="multiple" th:field="*{materials}" name="tags" id="tags">
                                    <option value="" disabled="disabled" selected="selected">Add Materials</option>
                                    <option th:each="material : ${materials}" th:text="${material.name}"
                                            th:value="${material.id}" th:selected="${material.id}"></option>
                                </select>
                                <label th:for="*{materials}"></label>
                            </div>


                            <div class="input-field col s12">
                                <textarea th:field="*{description}" class="materialize-textarea"></textarea>
                                <label th:for="*{description}">Description</label>
                            </div>

                            <div class="input-field col s12">
                                <textarea th:field="*{learning_objectives}" class="materialize-textarea"></textarea>
                                <label th:for="*{learning_objectives}">Learning Objectives</label>
                            </div>
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Create A Gradable</div>
                <div class="collapsible-body">

                    <form th:method="POST" th:action="@{/add_gradable}" th:type="post">
                        <div class="input-field input-field">
                            <select name="curriculum">
                                <option value="" disabled="disabled" selected="selected">Add Materials</option>
                                <option th:each="curriculum : ${curricula}" th:text="${curriculum.name}"
                                        th:value="${curriculum.getId()}" th:selected="${curriculum.id}"></option>
                            </select>
                        </div>
                        <div class="input-field col s9">
                            <input name="grade_name" id="grade_name" type="text" class="validate"/>
                            <label for="grade_name">Name</label>
                        </div>
                        <div class="input-field col s3">
                            <input name="grade_weight" id="weight" type="number" class="validate"/>
                            <label for="weight">Weight</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>

                </div>

            </li>
        </ul>
    </div>
    <div id="test3" class="col s12">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Available Classes</div>
                <div id="classlist" class="collapsible-body"></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Assign a Class</div>
                <div class="collapsible-body">
                    <form method="POST" th:action="@{/coordinator}" th:object="${course}">


                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <div class="input-field col s12">
                                        <select th:field="*{curriculum}">
                                            <div th:each="curriculum : ${curricula}">
                                                <option th:value="${curriculum.id}"
                                                        th:text="${curriculum.name}">

                                                </option>
                                            </div>
                                        </select>
                                        <label>Curriculum</label>
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    <div class="input-field col s12">
                                        <select id="instructors" th:field="*{instructors}">
                                            <div th:each="user : ${provider.users}">
                                                <div th:if="${user.role == 'instructor'}">
                                                    <option th:value="${user.id}"
                                                            th:text="${user.first_name} + ' ' + ${user.last_name}"></option>
                                                </div>
                                            </div>

                                        </select>
                                        <label>Instructor</label>
                                    </div>
                                </div>

                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>

<th:block th:replace="partials/master :: materializejs"></th:block>

<th:block th:replace="partials/master :: jquery"></th:block>


<script src="/js/coord-profile.js"></script>


</body>
</html>