<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize">

    </th:block>

</head>
<body>

<th:block th:replace="partials/master :: nav">

</th:block>

<div class="container">
    <div class="row">
        <div class="row pt-1">
            <div class="col s4">
                <img class="circle" th:src="${provider.image}" alt="providerImg" style="width: 250px; height: 250%;"/>
            </div>
            <div class="col s4 offset-s3">
                <h3 th:text="${provider.name}">

                </h3>
            </div>
        </div>
        <div class="col s8">
            <th:block th:if="${provider.image != null}">

            </th:block>
        </div>
        <div class="row">
            <h3 class="center">Training Coordinator</h3>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                        <img th:src="${provider.coordinator.img}"/>
                        <span th:text="${provider.coordinator.first_name} + ' ' + ${provider.coordinator.last_name}"
                              class="card-title"></span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                    <div class="row">
                        <h5 th:text="'Email: ' + ${provider.coordinator.email}"></h5>
                    </div>
                    <div class="row">
                        <a th:href="'mailto:' + ${provider.coordinator.email}" th:target="_blank"
                           class="waves-effect waves-light btn-small">E-Mail<i class="material-icons right">mail</i></a>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <h5 th:text="'Phone: ' + ${provider.coordinator.phone}"></h5>
                    </div>
                    <div class="row">
                        <a th:href="'tel:' + ${provider.coordinator.phone}" class="waves-effect waves-light btn-small">Phone<i
                                class="material-icons right">phone</i></a>
                    </div>
                    <div class="row">
                        <h5>Bio: </h5>
                        <p th:text="${provider.coordinator.bio}">
                        </p>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="center">Instructors</h3>
        <th:block th:each="instructor : ${provider.users}">
           <th:block th:if="${instructor.role == 'instructor'}">
                   <div class="col s12 m6 l4">
                       <div class="card">
                           <div class="card-image">
                               <img th:src="${instructor.img}"/>
                               <span th:text="${instructor.first_name} + ' ' + ${instructor.last_name}"
                                     class="card-title"></span>
                           </div>
                           <div class="card-content">
                               <p th:text="${instructor.bio}">

                               </p>
                           </div>
                           <div class="card-action center-align">
                               <a th:href="'mailto:' + ${instructor.email}" th:target="_blank"
                                  class="waves-effect waves-light btn-small">E-Mail<i class="material-icons right">mail</i></a>
                           </div>
                       </div>
                   </div>
           </th:block>
        </th:block>
    </div>
    <div class="row card pl-1 pr-1 pt-1 pb-1">
        <h5>Course Catalog</h5>
        <table class="highlight">
            <thead>
            <tr>
                <th>Course</th>
                <th>Location</th>
                <th>Start Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="course : ${courses}">
            <th:block th:if="${course.status.id == 204}">
                <tr>
                    <td th:text="${course.curriculum.name}">

                    </td>
                    <td th:text="${course.location}">

                    </td>
                    
                    <td th:text="${#dates.format(course.endDate, 'MM-dd-yy')}">

                    </td>
                    <td>
                        <form th:method="post" name="apply" th:action="@{/apply}">
                            <input class="course" type="hidden" name="course"
                                   th:value="${course.id}"/>
                            <button class="right btn waves-effect waves-light" type="submit"
                                    name="action">Apply
                            </button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<th:block th:replace="partials/master :: materializejs">

</th:block>

</body>
</html>