<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Attendance</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>


<!--<table class="col highlight centered">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>Name</th>-->
        <!--<th></th>-->
    <!--</tr>-->
    <!--</thead>-->

    <!---->

    <!--</tbody>-->
<!--</table>-->


    <div class="container">
        <div class="card col s12 m12 l6">
            <div class="card-content">
                <img src="/toplogoblue.png" alt="logo" style="height: 150px; width: 150px; position: absolute;
                    top: 1%; left: 1%; opacity: .15;"/>
                <span class="card-title center" th:text="${#dates.format(attendances.get(0).getDate(), 'MM-dd-yy')}"></span>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="attendance:${attendances}">
                        <td th:text="${attendance.user.getFullName()}"></td>
                        <td th:text="${attendance.wasPresent()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>