<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>

    <div class="row">
        <div class="s12">
            <ul class="tabs">
                <li class="tab s3"><a href="#overview">Overview</a></li>
                <li class="tab s3"><a href="#roster">Roster</a></li>
                <li class="tab s3"><a href="#attendance">Attendance</a></li>
                <li class="tab s3"><a href="#grades">Grades</a></li>
            </ul>
        </div>
        <div id="overview" class="s12">

            <div class="divider"></div>
            <div class="section">
                <h5 th:text="${course.curriculum.name}" >Section 1</h5>
                    <div class="row">
                        <p class="col s6 text-primary" th:text="'Course ID (' + ${course.id} + ')'" ></p>
                        <p class="col s6" th:text="'Status (' + ${course.status.name} + ')'" ></p>
                        <p class="col s12" th:text="'Course Location (' + ${course.location} + ')'"></p>
                        <p class="col s12" th:text="'From (' + ${course.startDate} + ') to (' + ${course.endDate} + ')'"></p>
                        <p class="col s12" th:text="'Class Starts at (' + ${course.startTime} + ')'" ></p>
                    </div>

                <h5>Instructor(s)</h5>

                <div class="row" th:each="instructor : ${course.instructors}" th:switch="${instructor.first_name}">
                    <p th:case="null" class="col s12">tbd</p>
                    <p th:case="*" class="col s12" th:text="${instructor.first_name} + ', ' + ${instructor.last_name}"></p>
                </div>

                <h5>Description</h5>

                <div class="row" th:switch="${course.curriculum.description}">
                    <p th:case="null" class="col s12">No description found</p>
                    <p th:case="*" class="col s12" th:text="${course.curriculum.description}"></p>
                </div>


            </div>


        </div>
        <div id="roster" class="s12">

            <table class="highlight centered">
                <thead>

                    <tr>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student: ${course.students}">
                        <td>
                            <a th:href="'/student/' + ${student.user.id}" th:text="${student.user.first_name} + ', ' + ${student.user.last_name}"></a>
                        </td>
                        <td>
                            <a th:href="'mailto:' + ${student.user.email}" th:target="_blank" class="waves-effect waves-light btn-small">E-Mail<i class="material-icons right">mail</i></a>
                        </td>
                        <td>
                            <a th:href="'tel:' + ${student.user.phone}" class="waves-effect waves-light btn-small">Phone<i class="material-icons right">phone</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="attendance" class="s12">
            <div class="collection" >
                    <th:block th:each="attendence:${course.students.get(0).user.attendances}">
                <a th:href="'/instructor/course/' + ${course.id} + '/attendance/' + ${attendence.date}" class="collection-item" th:text="${attendence.date}" ><span class="new badge red" data-badge-caption="absent" ></span></a>
                </th:block>
            </div>
        </div>





        <div id="grades" class="col s12">

        </div>
    </div>


<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        $('ul.tabs').tabs({-->
<!--            swipeable : true-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>