<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Attendance</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>

<form th:action="@{/submit_attendance}" th:object="${attendanceForm}" method="post">

    <table class="col highlight centered">
        <thead>
            <tr>
                <th>Student</th>
                <th>Present/Absent</th>
            </tr>

        </thead>
    <th:block th:each="attendance, itemStat : *{attendances}">
        <tbody>
        <tr>
        <td th:text="*{attendances[__${itemStat.index}__].user.getFullName()}"></td>
        <td>
            <select th:field="*{attendances[__${itemStat.index}__].present}">
                <option value="true">Present</option>
                <option value="false">Absent</option>
            </select>


        <input type="hidden" th:field="*{attendances[__${itemStat.index}__].user}"/>
        <input type="hidden" th:field="*{attendances[__${itemStat.index}__].course}"/>
        <input type="hidden" th:field="*{attendances[__${itemStat.index}__].date}"/>

        </td>
        </tr>
        </tbody>
    </th:block>
    </table>
    <input type="submit"/>
</form>

<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>