
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>
<div class="container">

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#overview">Overview</a></li>
                <li class="tab col s3"><a href="#allcourses">Courses</a></li>
            </ul>
        </div>
        <div id="overview" class="col s12">

            <div class="divider"></div>
            <div class="section">
                <h5 th:text="${curriculum.name}"></h5>
                <div class="row">
                    <p class="col s12" th:text="'Curriculum ID (' + ${curriculum.id} + ')'" ></p>
                    <p class="col s12" th:text="'Certification (' + ${curriculum.certification} + ')'" ></p>
                    <p class="col s12" th:text="'Number of Courses (' + ${curriculum.courses.size()} + ')'" ></p>
                    <p class="col s12" th:text="'Creation Date (' + ${curriculum.creation_date} + ')'"></p>
                    <p class="col s12" th:text="'Revision Date (' + ${curriculum.update_date} + ')'"></p>
                    <h6>Description</h6>
                    <p class="col s12" th:text="${curriculum.description}" ></p>
                    <h6>Course Outline</h6>
                    <p class="col s12" th:text="${curriculum.outline}" ></p>
                    <h6>Learning Objectives</h6>
                    <p class="col s12" th:text="${curriculum.learning_objectives}" ></p>

                </div>

            </div>

        </div>

        <div th:switch="${curriculum.courses.size()}" id="allcourses" class="col s12">

            <p th:case="0">There are no courses in this Curriculum</p>


            <ul th:case="*" class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons"></i>
                        Open
                        <span class="badge"></span></div>
                    <div th:switch="${curriculum.courses.size()}" class="collapsible-body">

                        <p th:case="0">There are currently no courses in this curriculum</p>

                        <table  th:case="*">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Students</th>
                                <th></th>
                            </tr>

                            </thead>

                            <tbody  th:each="course: ${curriculum.courses}" th:switch="${course.status.name}">

                            <tr th:case="'approved'">
                                <td th:text="${course.id}" ></td>
                                <td th:text="${course.students.size()}" ></td>
                                <td>
                                    <a th:href="'/instructor/course/' + ${course.id}" class="waves-effect waves-light btn-small">Details</a>
                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons"></i>
                        Closed
                        <span class="badge"></span></div>
                    <div th:switch="${curriculum.courses}" class="collapsible-body">

                        <p th:case="null">There are currently no courses in this curriculum</p>

                        <table th:case="*" class="highlight">
                            <thead>

                            <tr>
                                <th>ID</th>
                                <th>Student</th>
                                <th></th>
                            </tr>

                            </thead>

                            <tbody th:each="course: ${curriculum.courses}" th:switch="${course.status.name}">

                            <tr th:case="'closed'" >
                                <td th:text="${course.id}" ></td>
                                <td th:text="${course.students.size()}" ></td>
                                <td>
                                    <a th:href="'/instructor/course/' + ${course.id}" class="waves-effect waves-light btn-small">Details</a>
                                </td>
                            </tr>

                            </tbody>

                        </table>

                    </div>
                </li>
            </ul>

        </div>


    </div>

</div>

<div class="fixed-action-btn">
    <a th:href="'/instructor/curriculum/' + ${curriculum.id} + '/edit'" class="btn-floating btn-large red">
        <i class="large material-icons">edit</i>
    </a>
</div>

<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>