<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>

<div class="container">

    <div class="card white">
        <div class="card-content z-depth-4">
            <span class="card-title center">Courses</span>

    <div class="row">
        <form th:action="@{/course/edit}" th:method="post" th:object="${course}" class="col s12">


            <div class="row">
                <div class="input-field col s12">
                    <input th:field="*{location}" id="location" type="text" class="validate"/>
                    <label for="location">Location</label>
                </div>
                <div class="input-field col s12">
                    <input th:field="*{capacity}" id="cap" type="text" class="validate"/>
                    <label for="cap">Class Size</label>
                </div>
                <div class="input-field col s12">
                    <input th:field="*{startDate}" id="start_date" type="date" class=" validate"/>
                    <label for="start_date">Start Date</label>
                </div>
                <div class="input-field col s12">
                    <input th:field="*{endDate}" id="end_date" type="date" class=" validate"/>
                    <label for="end_date">End Date</label>
                </div>
                <div class="input-field col s12">
                    <input th:field="*{startTime}" id="start_time" type="time" class="validate"/>
                    <label for="start_time">Start Time</label>
                </div>
                <input th:field="*{id}" type="hidden" />



            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
        </div>
    </div>

</div>
<th:block th:replace="partials/master :: footer">

</th:block>
<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>