<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Grade</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>
<main>
    <div class="container">
        <a th:href="'/instructor/course/' + ${gradable_students.get(0).course.id} +'#grades'"><i
                class="material-icons medium">arrow_back</i></a>
        <div class="card col s12 m12 l6">
            <div class="card-content">
                <img src="/toplogoblue.png" alt="logo" style="height: 150px; width: 150px; position: absolute;
                    top: 1%; left: 1%; opacity: .15;"/>
                <span class="card-title center" th:text="${gradable_students.get(0).getGradable().getName()}"></span>
                <table>
                    <thead>
                    <tr>
                        <th>Student</th>
                        <th>Date</th>
                        <th>Grade</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="student : ${gradable_students}">
                        <td th:text="${student.getUser().first_name} + ' ' + ${student.getUser().last_name}"></td>
                        <td th:text="${#dates.format(student.posted_at, 'MM-dd-yy')}"></td>
                        <td th:text="${student.getGrade()} + '%'"></td>

                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="partials/master :: footer">

</th:block>
<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>