
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>
<a th:href="'/instructor/course/' + ${gradable_students.get(0).course.id} +'#grades'"><i class="material-icons">chevron_left</i>Back</a>

<table>
    <thead>
    <tr>
        <th>Student</th>
        <th>Assignment</th>
        <th>Date</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="student : ${gradable_students}">
        <td th:text="${student.getUser().first_name} + ' ' + ${student.getUser().last_name}"></td>
        <td th:text="${student.getGradable().getName()}"></td>
        <td th:text="${student.posted_at}"></td>
        <td th:text="${student.getGrade()} + '%'"></td>

    </tr>

    </tbody>

</table>


<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>