<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/schema/security">


<th:block th:fragment="nav">


    <div sec:authorize="isAuthenticated()">


        <th:block th:switch="${#authentication.principal.role}">

            <th:bock th:case="'student'">

                <nav class="primary" id="nav">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo left" style="margin-top: 10px; margin-left: 2%;">
                            <img src="/longlogo_white_short.png" width="90px"
                                 alt="landing_page_img"/>
                        </a>
                        <a href="#" data-target="slide-out" class="sidenav-trigger right"><i
                                class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/courses">Courses</a>
                            </li>
                            <li>
                                <a href="/student">Dashboard</a>
                            </li>
                            <li>
                                <a href="/user/update">Profile</a>
                            </li>
                            <li>
                                <form th:action="@{/logout}" th:method="post" type="submit"
                                      style="-webkit-appearance: none;">
                                    <a href="#" onclick="$(this).closest('form').submit()">Logout</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>

                <ul id="slide-out" class="sidenav scheme-white">
                    <li>
                        <div class="user-view scheme-grey">
                            <a href="#user"><img class="circle"
                                                 src="https://images.squarespace-cdn.com/content/554037b3e4b0da169013a32f/1454814698312-GFEEISP9MVFVJ2V4CR08/?content-type=image%2Fpng"/></a>
                            <a href="#name"><span th:text="${#authentication.principal.username}"
                                                  class="white-text name"></span></a>
                            <a href="#email"><span th:text="${#authentication.principal.email}"
                                                   class="white-text email"></span></a>
                        </div>
                    </li>
                    <li>
                        <a href="/courses">
                            <i class="material-icons">dns</i>Courses
                        </a>
                    </li>
                    <li>
                        <a href="/student">
                            <i class="material-icons">dvr</i>Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/user/update">
                            <i class="material-icons">assignment_ind</i>Profile
                        </a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" th:method="post" type="submit"
                              style="-webkit-appearance: none;">
                            <button type="submit" name="action">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>

            </th:bock>

            <th:block th:case="'instructor'">


                <nav class="primary" id="nav">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo center" style="margin-top: 10px;">
                            <img src="/longlogo_white_short.png" class="center" width="90px" alt="landing_page_img"/>
                        </a>
                        <a href="#" data-target="slide-out" class="sidenav-trigger right"><i
                                class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/instructor/curricula">Curricula</a>
                            </li>
                            <li>

                                <a href="/instructor/courses">Courses</a>
                            </li>
                            <li>

                                <a href="/user/update">Profile</a>
                            </li>
                            <li>
                                <form th:action="@{/logout}" th:method="post" type="submit"
                                      style="-webkit-appearance: none;">
                                    <a href="#" onclick="$(this).closest('form').submit()">Logout</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>

                <ul id="slide-out" class="sidenav scheme-white">
                    <li>
                        <div class="user-view scheme-grey">
                            <a href="#user"><img class="circle"
                                                 src="https://images.squarespace-cdn.com/content/554037b3e4b0da169013a32f/1454814698312-GFEEISP9MVFVJ2V4CR08/?content-type=image%2Fpng"/></a>
                            <a href="#name"><span th:text="${#authentication.principal.username}"
                                                  class="white-text name"></span></a>
                            <a href="#email"><span th:text="${#authentication.principal.email}"
                                                   class="white-text email"></span></a>
                        </div>
                    </li>
                    <li>

                        <a href="/instructor/curricula"><i class="material-icons">dns</i>Curricula</a>
                    </li>
                    <li>
                        <a href="/instructor/courses"><i class="material-icons">dvr</i>Courses</a>
                    </li>
                    <li>
                        <a href="/user/update"><i class="material-icons">assignment_ind</i>Profile</a>
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li>
                        <form th:action="@{/logout}" th:method="post" type="submit">
                            <button class="btn-flat waves-effect waves-light pl-1" type="submit" name="action"
                                    style="-webkit-appearance: none;">Logout
                                <i class="material-icons left">directions_run</i>
                            </button>
                        </form>
                    </li>

                </ul>

            </th:block>


            <th:block th:case="'coordinator'">


                <nav class="primary" id="nav">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo center" style="margin-top: 10px;">
                            <img src="/longlogo_white_short.png" class="center" width="90px" alt="landing_page_img"/>
                        </a>
                        <a href="#" data-target="slide-out" class="sidenav-trigger right"><i
                                class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="/courses">Courses</a>
                            </li>
                            <li>

                                <a href="/coordinator">Dashboard</a>
                            </li>
                            <li>

                                <a href="/user/update">Profile</a>
                            </li>
                            <li>
                                <form th:action="@{/logout}" th:method="post" type="submit"
                                      style="-webkit-appearance: none;">
                                    <a href="#" onclick="$(this).closest('form').submit()">Logout</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>

                <ul id="slide-out" class="sidenav scheme-white">
                    <li>
                        <div class="user-view scheme-grey">
                            <a href="#user"><img class="circle"
                                                 src="https://images.squarespace-cdn.com/content/554037b3e4b0da169013a32f/1454814698312-GFEEISP9MVFVJ2V4CR08/?content-type=image%2Fpng"/></a>
                            <a href="#name"><span th:text="${#authentication.principal.username}"
                                                  class="white-text name"></span></a>
                            <a href="#email"><span th:text="${#authentication.principal.email}"
                                                   class="white-text email"></span></a>
                        </div>
                    </li>
                    <li><a href="/courses"><i class="material-icons">dns</i>Courses</a></li>
                    <li><a href="/coordinator"><i class="material-icons">dvr</i>DashBoard</a></li>
                    <li><a href="/user/update"><i class="material-icons">assignment_ind</i>Profile</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li>
                        <form th:action="@{/logout}" th:method="post" type="submit" style="-webkit-appearance: none;">
                            <button class="btn-flat waves-effect waves-light pl-1" type="submit" name="action">Logout
                                <i class="material-icons left">directions_run</i>
                            </button>
                        </form>
                    </li>

                </ul>

            </th:block>


        </th:block>


    </div>


    <div sec:authorize="isAnonymous()">


        <nav class="primary" id="nav">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center" style="margin-top: 10px;">
                    <img src="/longlogo_white_short.png" class="center" width="90px" alt="landing_page_img"/>
                </a>
                <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>


        <ul id="slide-out" class="sidenav scheme-white">
            <li>
                <div class="user-view scheme-grey">
                    <a href="#user">
                        <img class="circle"
                             src="https://images.squarespace-cdn.com/content/554037b3e4b0da169013a32f/1454814698312-GFEEISP9MVFVJ2V4CR08/?content-type=image%2Fpng"/>
                    </a>
                </div>
            </li>
            <li class="pr-1"><a class="waves-effect" href="/login"><i class="material-icons">person</i>Login</a></li>
        </ul>


    </div>


</th:block>

<th:block th:fragment="footer">
    <footer class="page-footer" style="background-color: lightgrey">
        <div class="footer-copyright white">
            <div class="container" style="color: grey">
                © 2019.TOP.All Rights Reserved
                <a class="text-lighten-4 right" style="color: grey;" href="/about_us">Our Team</a>
            </div>
        </div>
    </footer>
</th:block>


<th:block th:fragment="materialize">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/node_modules/materialize-css/dist/css/materialize.css}"
          media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/padding.css}"/>
    <style>
        body {
            background: lightgrey;
        }

        .collapsible-body {
            background: white;
        }
    </style>
</th:block>


<th:block th:fragment="materializejs">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js}"></script>
    <th:block th:replace="partials/master :: minit"></th:block>
</th:block>


<th:block th:fragment="jquery">
    <script
            th:src="@{https://code.jquery.com/jquery-3.1.1.min.js}"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"
    >
    </script>
</th:block>


<th:block th:fragment="minit">
    <script>
        M.AutoInit();
    </script>
</th:block>


</html>