<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize">

    </th:block>
</head>
<body>
<th:block th:replace="partials/master :: nav">

</th:block>

<main>
<div class="row">
    <div class="card col s10 offset-s1 pr-1 pl-1" style="margin-top: 3%;">
        <div class="card-content">
            <h4 class="card-title center">Edit Profile</h4>
            <form th:action="@{/update}" th:method="post" th:object="${user}"
                  class="col s12 pt-2">
                <div class="row">
                    <div class="input-field col s6">
                        <input th:field="*{first_name}" type="text" class="validate" th:placeholder="${user.first_name}"/>
                        <label th:for="*{first_name}">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input th:field="*{last_name}" type="text" class="validate" th:placeholder="${user.last_name}"/>
                        <label th:for="*{last_name}">Last Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input th:field="*{phone}" type="tel" class="validate" th:placeholder="${user.phone}"/>
                        <label th:for="*{phone}">Phone</label>
                    </div>
                    <div class="input-field col s12">
                        <input th:field="*{email}" type="email" class="validate" th:placeholder="${user.email}"/>
                        <label th:for="*{email}">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea th:field="*{bio}" type="text" class="materialize-textarea validate" th:placeholder="${user.bio}"></textarea>
                        <label th:for="${bio}">Bio</label>
                    </div>
                    <div class="col right">
                        <button class="btn waves-effect secondary waves-light" type="submit" name="action">Update<i class="material-icons right">send</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
<th:block th:replace="partials/master :: footer">

</th:block>
<th:block th:replace="partials/master :: materializejs">

</th:block>

<th:block th:replace="partials/master :: jquery">

</th:block>
<script src="/js/student-profile.js"></script>


</body>
</html>
