<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error 404</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<div class="container">

    <h1>Oops.. sorry page not found</h1>
    <a href="/" class="waves-effect waves-light btn">Back to Safe Space</a>

</div>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>