<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>
<th:block th:include="partials/master :: nav"></th:block>

<div class="row">

<div class="col s12 m4">
        <div  class="card col">
            <div class="card-image">
                <img th:src="@{/JasonL.jpg}" />
                <span class="card-title">Jason Lindey</span>
                <a th:href="'tel:(713) 962-9143'" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">phone</i></a>
            </div>
            <div class="card-content">
                <a href="https://alumni.codeup.com/students/640" class="btn-flat"><img height="30px" th:src="@{/codeuplogo.png}"/></a>
                <a href="https://github.com/nnosajasonn" class="btn-flat"><img height="30px" th:src="@{/GitHubLogo.png}"/></a>
                <a href="https://www.linkedin.com/in/jasonalindsey" class="btn-flat"><img height="30px" th:src="@{/linked.png}"/></a>
            </div>
        </div>
</div>

    <div class="col s12 m4">

        <div  class="card col">
            <div class="card-image">
                <img th:src="@{/Johnny_img.jpeg}" />
                <span class="card-title">Johnny Ruiz</span>
                <a th:href="'tel:(210) 727-2420'" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">phone</i></a>
            </div>
            <div class="card-content">
                <a href="https://alumni.codeup.com/students/643" class="btn-flat"><img height="30px" th:src="@{/codeuplogo.png}"/></a>
                <a href="https://github.com/johnnyruiz" class="btn-flat"><img height="30px" th:src="@{/GitHubLogo.png}" /></a>
                <a href="https://www.linkedin.com/in/johnny-p-ruiz" class="btn-flat"><img height="30px" th:src="@{/linked.png}"/></a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">

    <div  class="card col">
            <div class="card-image">
                <img th:src="@{/samuel.jpg}" />
                <span class="card-title">Samuel Moore</span>
                <a th:href="'tel:(830) 353-3076'" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">phone</i></a>
            </div>
            <div class="card-content">
                <a href="https://alumni.codeup.com/students/652" class="btn-flat"><img height="30px" th:src="@{/codeuplogo.png}"/></a>
                <a href="https://github.com/samuelmoorec" class="btn-flat"><img height="30px" th:src="@{/GitHubLogo.png}" /></a>
                <a href="https://www.linkedin.com/in/samuelcmoore" class="btn-flat"><img height="30px" th:src="@{/linked.png}"/></a>
            </div>
        </div>
    </div>


</div>

<th:block th:replace="partials/master :: footer">

</th:block>
<th:block th:replace="partials/master :: jquery"></th:block>
<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>