<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize">

    </th:block>

</head>
<body>

<th:block th:replace="partials/master :: nav">

</th:block>


<h4>A list of all the courses for anyone to view</h4>

<div class="container">

<!--Suggestion 'Make the search options another navbar for styling purposes'-->

<div class="row">
    <div class="col s12">
        <div class="card white">
        <div class="card-content">
            <h3 class="card-title center">Courses</h3>
            <div class="row">
            <div class="col s3">
<!--                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Sort by</a>-->
<!--                <ul id='dropdown1' class='dropdown-content'>-->
<!--                    <li><a href="#!">Upcoming</a></li>-->
<!--                    <li><a href="#!">Future</a></li>-->
<!--                    <li class="divider" tabindex="-1"></li>-->
<!--                    <li><a href="#!">Name</a></li>-->
<!--                    <li><a href="#!">Organization</a></li>-->
<!--                </ul>-->
            </div>
<!--            <form>-->
<!--                <div class="input-field col s8">-->
<!--                    <input name="search" id="search" type="search" th:required="required"/>-->
<!--                    <label class="label-icon" for="search">-->
<!--                        <i class="material-icons">search</i>-->
<!--                    </label>-->
<!--                    <i class="material-icons">close</i>-->
<!--                </div>-->
<!--            </form>-->
            </div>
            <div th:id="coursesTable">
            </div>
        </div>
        </div>
    </div>
</div>

</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
>
</script>
<script src="/js/allCourses.js"></script>

<th:block th:replace="partials/master :: materializejs">

</th:block>

</body>
</html>