<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>

</head>
<body style="background-color: lightgrey;">
<!---->
<th:block th:replace="partials/master :: nav">

</th:block>
<main>
<div class="row" style="margin-left: 0;margin-right: 0; font-size: 1.2em">
    <div id="landing" class="row pt-3 pb-3">
        <img src="/longlogo_white.png" alt="logo" height="300" width="300" style="position: absolute; left: 10%; top:
        10%;"/>
        <div class="col s12 l5 offset-l1 white-text">
            <h1>Welcome to Texas Officers Portal</h1>
            <h3>Taking Texas LEO Training to the TOP</h3>
        </div>
    </div>
    <div class="container">
        <div class="col s12 m4" style="color: darkslategray;">
            <div class="card-panel center hoverable" style="padding: 0;">
                <div class="primary" style="padding: 1%;">
                    <h5 class="white-text">Students</h5>
                </div>
                <ul style="padding-left: 2%;padding-bottom: 15%; padding-right: 2%; padding-top: 10%">
                    <li>View Available</li>
                    <br/>
                    <li>Apply to Courses</li>
                    <br/>
                    <li>View grades and Attendance</li>
                    <br/>
                    <li>View Credited Courses</li>
                    <br/>
                </ul>
            </div>
        </div>

        <div class="col s12 m4" style="color: darkslategray;">
            <div class="card-panel center hoverable" style="padding: 0;">
                <div class="primary" style="padding: 1%;">
                    <h5 class="white-text">Instructors</h5>
                </div>
                <ul style="padding-left: 2%;padding-bottom: 15%; padding-right: 2%; padding-top: 10%">
                    <li>Update/Manage Curricula</li>
                    <br/>
                    <li>Manage Classes</li>
                    <br/>
                    <li>Post Grades/Attendance</li>
                    <br/>
                    <li>Access Dynamic Rosters</li>
                    <br/>
                </ul>
            </div>
        </div>

        <div class="col s12 m4" style="color: darkslategray;">
            <div class="card-panel center hoverable" style="padding: 0;">
                <div class="primary" style="padding: 1%;">
                    <h5 class="white-text">Coordinators</h5>
                </div>
                <ul style="padding-left: 2%;padding-bottom: 15%; padding-right: 2%; padding-top: 10%">
                    <li>Manage Your Users</li>
                    <br/>
                    <li>Manage Curricula</li>
                    <br/>
                    <li>Assign Courses</li>
                    <br/>
                    <li>Manage Instructors</li>
                    <br/>
                </ul>
            </div>
        </div>
    </div>
</div>
    


</main>
<th:block th:replace="partials/master :: footer">

</th:block>

<th:block th:replace="partials/master :: materializejs"></th:block>
</body>
</html>