<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link type="text/css" rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection"/>
</head>
<body>

<nav>
    <h3 class="center">insert nav here</h3>
</nav>

<div class="row">
    <div class="col s12 m9 l10">
        <div id="welcome" class="section scrollspy blue white-text">
            <h3 class="center">Welcome to TOP</h3>
            <h5>Texas Officers Portal</h5>
        </div>
        <div class="parallax-container">
           <div class="parallax">
               <img src="https://www.fbi.gov/image-repository/police-car-light-bar-stock.jpg/@@images/image/high"
                    alt="img"/>
           </div>
        </div>
        <div id="introduction" class="section scrollspy white blue-text">
            <h3 class="center">How it works</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div id="another_section" class="section scrollspy blue white-text">
            <h3 class="center">How it works</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <img src="http://www.takepart.com/sites/default/files/styles/large/public/Chief-Beck-MAIN.jpg"
                     alt="img"/>
            </div>
        </div>
        <div id="and_another" class="section scrollspy white blue-text">
            <h3>How it works</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div id="one_more" class="section scrollspy blue white-text">
            <h3 class="center">How it works</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </div>
    <div class="col hide-on-small-only m3 12">
        <ul class="section table-of-contents">
            <li><a href="#welcome">Welcome</a></li>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#and_another">and_another</a></li>
            <li><a href="#one_more">one_more</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="red white-text col s12">
        <h3>bottom of page</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
</div>






<div class="container">

</div>


<script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script>
    M.AutoInit();
</script>
</body>
</html>