<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Courses</title>
    <th:block th:replace="partials/master :: materialize"></th:block>
</head>
<body>

<th:block th:replace="partials/master :: nav">

</th:block>

<h4 class="center">A place for users to register or log in</h4>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s6">
                                    <a class="active" href="#login">Login</a>
                                </li>
                                <li class="tab col s6">
                                    <a href="#register">Register</a>
                                </li>
                            </ul>
                        </div>
                        <div id="login" class="col s12">
                            <div class="row">
                                <div class="container">
                                    <form th:action="@{/login}" th:method="post" class="col s12" style="padding-top:
                                    10%;">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="username" name="username" type="text" class="validate"/>
                                                <label for="username">Username</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="password" name="password" type="password" class="validate"/>
                                                <label for="password">Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6 offset-s9">
                                                <button class="btn waves-effect secondary waves-light" type="submit"
                                                        name="action">Login
                                                    <i class="material-icons right">input</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="register" class="col s12">
                            <div class="col s12 pt-1">
                                <ul class="tabs">
                                    <li class="tab col s3">
                                        <a href="#identity" class="active">Identity</a>
                                    </li>
                                    <li class="tab col s3">
                                        <a href="#credentials">Credentials</a>
                                    </li>
                                    <li class="tab col s3">
                                        <a href="#contact">Contact</a>
                                    </li>
                                    <li class="tab col s3">
                                        <a href="#bio">Bio</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <form th:action="@{/register}" th:method="post" th:object="${user}"
                                      class="col s12 pt-2">
                                    <div id="identity" class="row pl-1 pr-1">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input th:field="*{first_name}" type="text" class="validate"/>
                                                <label th:for="*{first_name}">First Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input th:field="*{last_name}" type="text" class="validate"/>
                                                <label th:for="*{last_name}">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input th:field="*{id}" type="number" class="validate"/>
                                                <label th:for="*{id}">PID</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pl-1 pr-1" id="credentials">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input th:field="*{username}" type="text" class="validate"/>
                                                <label th:for="*{username}">Username</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input th:field="*{password}" type="password" class="validate"/>
                                                <label th:for="*{password}">Password</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="passwordConfirm" type="password" class="validate"/>
                                                <label for="passwordConfirm">Re-enter Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pl-1 pr-1" id="contact">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input th:field="*{phone}" type="tel" class="validate"/>
                                                <label th:for="*{phone}">Phone</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input th:field="*{email}" type="email" class="validate"/>
                                                <label th:for="*{email}">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pl-1 pr-1" id="bio">
                                        <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea th:field="*{bio}"
                                                              class="materialize-textarea"
                                                               data-length="120"></textarea>
                                                    <label th:for="*{bio}">Bio</label>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6 offset-s9">
                                                <button class="btn waves-effect secondary waves-light" type="submit"
                                                        name="action">Submit
                                                    <i class="material-icons right">person</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="partials/master :: materializejs">

</th:block>
</body>
</html>